{
  "extends": [
    "airbnb",
    "prettier"
  ],
  "plugins": [
    "import",
    "jsx-a11y",
    "react"
  ],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "jest": true
  },
  "globals": {
    "cy": true,
    "Cypress": true
  },
  "parser": "@babel/eslint-parser",
  "rules": {
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["to", "hrefLeft", "hrefRight"],
        "aspects": ["noHref", "invalidHref", "preferButton"]
      }
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "react/static-property-placement": ["error", "static public field"],
    "react/function-component-definition": ["warn", {"namedComponents": "arrow-function"}],
    "jsx-a11y/click-events-have-key-events": ["warn"],
    "jsx-a11y/mouse-events-have-key-events": ["warn"],
    "import/no-named-as-default": 0
  }
}
