body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input {
  border: none;
  resize: none;
  background-color: white;
}

input:focus {
  outline: none;
}
.droppable-col {
  width: 28.125em;
  background-color: #ebecf0;
  border-radius: 1.5625em;
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  min-width: 44vh;
  text-align: center;
  color: white;
  justify-content: flex-start;
  align-items: center;
  padding: 1.875em 1.25em;
  margin-left: 1em;
  margin-right: 1em;
}

.app-background {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
  color: white;
  justify-content: flex-start;
  align-items: center;
}
.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.jc-space-between {
  justify-content: space-between;
}

.text-task {
  color: black;
  font-weight: 500;
}
.text-task:hover {
  font-weight: 700;
}

.add-button {
  outline: none;
  border: none;
  color: #201328;
  font-size: 1.0625em;
  font-weight: bolder;
  padding: 10px 0.9375em;
  border-radius: 0.5em;
  text-align: center;
  margin: 0 0.9375em 0.9375em 0.9375em;
  cursor: pointer;
}

.text-input {
  border: #c3c9ca 1px solid;
  outline: none;
  border-radius: 1.5625em;
  width: 17em;
  font-size: 1.125em;
  padding: 10px 0.9375em;
  margin: 0 0.9375em 0.9375em 0.9375em;
  font-weight: bold;
  font-weight: 500;
}
.text-input-out {
  border: #c3c9ca 1px solid;
  box-shadow: 0 0 0.4375em #c3c9ca;
  outline: none;
  border-radius: 1.5625em;
  width: 17em;
  font-size: 1.125em;
  padding: 10px 0.9375em;
  margin: 0 0.9375em 0.9375em 0.9375em;
  font-weight: bold;
  font-weight: 500;
}

.list-item {
  background-color: white;
  border: none;
  border-radius: 1.5625em;
  width: 22em;
  font-size: 1.125em;
  padding: 0.625em 0.9375em;
  margin: 10px 0;
  color: black;
  font-weight: bold;
  text-align: start;
  align-items: center;
  height: 2em;
}

.list-item:hover {
  border-color: #8ea3b4;
  box-shadow: 0 0 0.625em #8ea3b4;
}

.list-item-out {
  background-color: white;
  border-color: #8ea3b4;
  box-shadow: 0 0 0.625em #8ea3b4;
  border-radius: 1.5625em;
  width: 22em;
  font-size: 1.125em;
  padding: 0.625em 0.9375em;
  margin: 0.625em 0;
  color: black;
  font-weight: bold;
  text-align: start;
  align-items: center;
  height: 2em;
}

.delete-icon {
  height: 1.625em;
  cursor: pointer;
}
.delete-icon:hover {
  color: red;
}
.no-item-text {
  color: gainsboro;
  font-size: 1.0625em;
  font-weight: bolder;
  text-align: center;
  margin: 50px;
}
@media only screen and (max-width: 600px) {
  .delete-icon {
    height: 1.125em;
  }
  .droppable-col {
    width: 22em;
    background-color: #ebecf0;
    border-radius: 1.5625em;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    min-height: 50vh;
    min-width: 10vh;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 20px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .text-input {
    border: #d1e756 1px solid;
    outline: none;
    border-radius: 1.5625em;
    width: 13em;
    font-size: 1em;
    padding: 0.em 0.75em;
    margin: auto 0.5em;
    font-weight: bold;
  }

  .text-input-out {
    border: #b8ced1 1px solid;
    box-shadow: 0 0 0.4375em #b8ced1;
    outline: none;
    border-radius: 1.5625em;
    width: 13em;
    font-size: 1em;
    padding: 0.5em 0.75em;
    margin: auto 0.5em;

    font-weight: bold;
  }

  .list-item {
    border: none;
    border-radius: 1.5625em;
    width: 17em;
    height: 1.5625em;
    font-size: 1.125em;
    padding: 0.625em 0.9375em;
    margin: 0.em 0;
    color: #131a28;
    font-weight: bold;
    text-align: start;
    align-items: center;
  }
  .list-item-out {
    border-color: #8ea3b4;
    box-shadow: 0 0 0.625em #8ea3b4;
    border-radius: 1.5625em;
    width: 17em;
    height: 1.5625em;
    font-size: 1.125em;
    padding: 0.625em 0.9375em;
    margin: 0.625em 0;
    color: #131a28;
    font-weight: bold;
    text-align: start;
    align-items: center;
  }
  
}

@media only screen and (max-width: 600px) and (max-height: 600px){
  .delete-icon {
    height: 1.125em;
  }
  .droppable-col {
    width: 22em;
    background-color: #ebecf0;
    border-radius: 1.5625em;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    min-height: 50vh;
    min-width: 10vh;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 20px;
    margin-left: 20px;
    margin-right: 50px;
  }
  .text-input {
    border: #d1e756 1px solid;
    outline: none;
    border-radius: 1.5625em;
    width: 12em;
    font-size: 1em;
    padding: 0.5em 0.75em;
    margin: auto 6px;
    font-weight: bold;
  }

  .text-input-out {
    border: #b8ced1 1px solid;
    box-shadow: 0 0 0.4375em #b8ced1;
    outline: none;
    border-radius: 1.5625em;
    width: 13em;
    font-size: 1em;
    padding: 0.5em 0.75em;
    margin: auto 0.5em;

    font-weight: bold;
  }

  .list-item {
    border: none;
    border-radius: 1.5625em;
    width: 17em;
    height: 1.5625em;
    font-size: 1.125em;
    padding: 0.625em 0.9375em;
    margin: 0.em 0;
    color: #131a28;
    font-weight: bold;
    text-align: start;
    align-items: center;
  }
  .list-item-out {
    border-color: #8ea3b4;
    box-shadow: 0 0 0.625em #8ea3b4;
    border-radius: 1.5625em;
    width: 17em;
    height: 1.5625em;
    font-size: 1.125em;
    padding: 0.625em 0.9375em;
    margin: 0.625em 0;
    color: #131a28;
    font-weight: bold;
    text-align: start;
    align-items: center;
  }
  
}


@media only screen and (max-height: 410px) {
  .text-input {
    border: #9b543e 1px solid;
    outline: none;
    border-radius: 1.5625em;
    width: 12em;
    font-size: 1em;
    padding: 0.5em 0.75em;
    margin: auto 6px;
    font-weight: bold;
  }
  .droppable-col {
    width: 22em;
    background-color: #ebecf0;
    border-radius: 1.5625em;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    min-height: 50vh;
   min-width: 10vh;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 20px;
    margin-left: 20px;
    margin-right: 50px;
  }
  .text-input-out {
    border: #b8ced1 1px solid;
    box-shadow: 0 0 0.4375em #b8ced1;
    outline: none;
    border-radius: 1.5625em;
    width: 12em;
    font-size: 1em;
    padding: 0.5em 0.75em;
    margin: auto 6px;
    font-weight: bold;
  }

  .list-item {
    border: none;
    border-radius: 1.5625em;
    width: 17em;
    height: 1.5625em;
    font-size: 1.125em;
    padding: 0.625em 0.9375em;
    margin: 0.em 0;
    color: #131a28;
    font-weight: bold;
    text-align: start;
    align-items: center;
  }
  .list-item-out {
    border-color: #8ea3b4;
    box-shadow: 0 0 0.625em #8ea3b4;
    border-radius: 1.5625em;
    width: 17em;
    height: 1.5625em;
    font-size: 1.125em;
    padding: 0.625em 0.9375em;
    margin: 0.625em 0;
    color: #131a28;
    font-weight: bold;
    text-align: start;
    align-items: center;
  }
}

@media only screen and (max-height: 320px) {
  .text-input {
    border: #59a503 1px solid;
    outline: none;
    border-radius: 1.5625em;
    width: 12em;
    font-size: 1em;
    padding: 0.5em 0.75em;
    margin: auto 6px;
    font-weight: bold;
  }
  

  .list-item {
    border: none;
    border-radius: 1.5625em;
    width: 17em;
    height: 1.25em;
    font-size: 1.125em;
    padding: 0.625em 0.9375em;
    margin: 10px 0;
    color: #131a28;
    font-weight: bold;
    text-align: start;
    margin-left: 1.8em;
    margin-right: 1.8em;
    align-items: center;
  }
  .list-item-out {
    border-color: #8ea3b4;
    box-shadow: 0 0 10px #8ea3b4;
    border-radius: 1.5625em;
    width: 17em;
    height: 20px;
    font-size: 1.125em;
    padding: 0.625em 0.9375em;
    margin: 10px 0;
    color: #131a28;
    font-weight: bold;
    text-align: start;
    align-items: center;
  }

  .add-button {
    outline: none;
    border: none;
    font-size: 1.0625em;
    font-weight: bolder;
    padding: 10px 0.9375em;
    border-radius: 0.5em;
    text-align: center;
    margin: 0.9375em;
    cursor: pointer;
  }
}

.tasks-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.add-icon {
  font-size: 2.5em;
  cursor: pointer;
  color: rgb(190, 187, 187);
}
.active-add-icon {
  font-size: 2.5em;
  cursor: pointer;
  color: #2f4766;
}
.active-add-icon:hover {
  transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
}

.content {
  display: flex;
  justify-content: space-between;
  max-width: 25em;
  margin: 0 auto;
  padding: 10px 0;
  margin-right: 0px;
}

.add-member {
  color: #ac8ebe;
}
.add-member:hover {
  text-shadow: 0 0 3px rgb(212, 192, 192);
  font-weight: 500;
  color: #744691;
}
.play-icon-incomplete {
  color: rgb(182, 136, 136);
}
.play-icon-incomplete:hover {
  color: rgb(179, 71, 71);
}
.play-icon-complete {
  color: #c1c3c4;
}
.modal {
  border-radius: 0.9375em;
  background-color: #dee0e2a2;
}
.edit-text-box {
  border-radius: 5px;
  height: 20px;
}
.edit-text-box:hover {
  border: 1px rgb(175, 173, 173);
  box-shadow: 0 0 5px rgb(175, 173, 173);
}
.selected-members {
  color: black;
}
.no-selected-members {
  color: rgb(163, 163, 163);
}
.task-details {
  color: rgb(146, 146, 219);
}
.task-details:hover {
  color: rgb(79, 79, 235);
}

.description-text-box {
  border-radius: 5px;
  height: 50px;
  border: 1px rgb(175, 173, 173);
  border: 1px solid rgb(218, 213, 213);
  background: transparent;
  width: 18.75em;
  height: 6.5em;
}
.description-text-box:hover {
  border: 1px rgb(175, 173, 173);
  box-shadow: 0 0 10px rgb(175, 173, 173);
}
.task-description-label {
  color: black;
}

.task-description-label-edit {
  color: black;
  font-weight: 500;
}

input[type='text'] {
  font-size: 0.9375em;
}

.parent {
  position: relative;
  width: 1280px;
  max-width: 100%;
  margin: 0 auto;
  padding: 30px;
}
.parent:before {
  margin-top: 25%;
  content: '.';
  font-size: 0;
  display: inline-block;
}
.child {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: red;
  max-height: 100%;
}

.App {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.App .column {
  width: 30%;
}
.dragging {
  background-color: rgb(168, 214, 245);
}

sup {
  vertical-align: super;
  font-size: smaller;
}

.members-column {
  color: black;
  width: max-content;
  background-color: white;
  border: 1px solid rgb(209, 200, 200);
  padding: 10px;
  border-radius: 1.5625em;
  height: 100%;
  margin-top: 60px;
  margin-left: 10px;
}
.members-text {
  color: black;
}
.no-members-text {
  color: GrayText;
}

.main-footer {
  padding-top: 3em;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 105px;
  text-align: center;
}
.clear {
  clear: both;
  height: 180px;
}
.member-container {
  background-color: rgb(224, 210, 210);
  border-radius: 20px;
  padding: 5px;
  word-break: normal;
}
.remove-member-button {
  color: GrayText;
  cursor: pointer;
  size: 0.5em;
}
.remove-member-button:hover {
  color: black;
}
.draggable {
  cursor: move; /* fallback: no `url()` support or images disabled */
  cursor: grab; /* W3C standards syntax, all modern browser */
  list-style-type: none;
}
.draggable:active {
  cursor: grabbing;
}
